﻿@using Examcsharp.Models

@{
    ViewBag.Title = "Toys";
}
@model Toys
<style>
    .style_prevu_kit
    {
        display:inline-block;
        border:0;
        position: relative;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1); 
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1); 
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);
        transition: all 200ms ease-in;
        transform: scale(1);   

    }
    .style_prevu_kit:hover
    {
        box-shadow: 0px 0px 20px #000000;
        z-index: 2;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(2.5);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(2.5);   
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(2.5);
        transition: all 200ms ease-in;
        transform: scale(2.5);
    }
</style>

<div class="col-xs-12">
    <h2 style="text-align:center;">Toys</h2>
</div>
<hr style="margin-bottom: 100px;"/>
<div class="container">
    <div class="alert-danger" style="height: 80px;" >
        <h2 style="text-align: center">impossible to order goods not available!!</h2>    
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-sm-3">
            <h2>NAME</h2>
        </div>
        <div class="col-sm-3">
            <h2>COST</h2>
        </div>
        <div class="col-sm-3">
            <h2>AMOUNT</h2>
        </div>
        <div class="col-sm-3">
            <h2>PICTURE</h2>
        </div>
    </div>
@foreach (var toys in Model.EntityList)
{
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-3">
    
        <h4>@toys.Name</h4>
        </div>
        <div class="col-sm-3">
    
            <h4>@toys.Cost €</h4>
    </div>
        <div class="col-sm-3">
    
            <h4>@toys.Amount</h4>
        </div>
        <div class="col-sm-3">
            <div class="style_prevu_kit" >
                @switch (toys.Name)
                {
                    case "Lego":
                        <img style="width: 60px; height: 60px;" src="https://vignette.wikia.nocookie.net/lego/images/6/69/Superman_%28Variant_1%29.png/revision/latest?cb=20141205044200"/>

                        break;
                    case "Barbie doll":
                        <img style="width: 60px; height: 60px;" src="https://i2.wp.com/freepikpsd.com/wp-content/uploads/2017/06/Barbie-PNG-image.png"/>

                        break;
                    case "Mazinga robot":
                        <img style="width: 60px; height: 60px;" src="https://i.pinimg.com/236x/e7/86/52/e78652941f4f9d1aa6685427acf54479--original-version-vinyl-figures.jpg"/>

                        break;
                    case "Hot Wheels track":
                        <img style="width: 60px; height: 60px;" src="http://www.yim778.com/data/out/116/937058.png"/>

                        break;
                    case "Football shirt":
                        <img style="width: 60px; height: 60px;" src="https://www.spreadshirt.co.uk/blog/wp-content/blogs.dir/6/files/soccer-fan-shirts/footballfannbluewhite.png"/>

                        break;
                    case "Puzzle":
                        <img style="width: 60px; height: 60px;" src="https://i.pinimg.com/originals/a7/9e/12/a79e124b7ceee03e2e1c437fb144ed39.png"/>

                        break;
                    case "iPhone 6":
                        <img style="width: 60px; height: 60px;" src="https://www.bellmts.ca/file_source/mts/assets/img/wireless_devices/iphones/iphone6.png"/>

                        break;
                    case "iPod":
                        <img style="width: 60px; height: 60px;" src="https://upload.wikimedia.org/wikipedia/commons/5/51/IPod_classic.png"/>

                        break;
                    case "Pictionary":
                        <img style="width: 60px; height: 60px;" src="https://www.littlebigtown.it/wp-content/uploads/2015/05/13-05-15-0003-pictionary.png"/>

                        break;
                    case "Jenga":
                        <img style="width: 60px; height: 60px;" src="https://www.bigw.com.au/p/8360025/prdImages/GALLERY/zoomImg/1/?context=bWFzdGVyfGltYWdlc3w4OTMyM3xpbWFnZS9qcGVnfGltYWdlcy9oMjcvaDEzLzEwODE0MzY1MjA0NTEwLmpwZ3wyY2NmYWZmY2ZiODY4NjAyMjZiMDY0OTMxNTZiYWI2MjIzYTFhMzU5ZWVmMTkxZDBiMGU2ODkxOTQ3ODU4ZmFh"/>

                        break;
                    case "Spider-man":
                        <img style="width: 60px; height: 60px;" src="http://static.iphoneitalia.com/wp-content/uploads/2017/06/Spidey03.2_large.png"/>

                        break;


                }
            </div>
        </div>
    </div>
    
    
}
</div>