﻿@model Examcsharp.Classes.User

@{
    ViewBag.Title = "title";
}

<h2 style="text-align:center;">Logout</h2>
<div class="row">
    <div class="col-xl-8">      
        <h2 style="text-align:center;">thanks for using christmas management</h2>
    </div>
    <div class="col-xl-8 form-group" style="margin-top:30px;margin: 0 auto; width: 80px;">
        @Html.ActionLink("Login", "Login", "Users", null, new { @class = "btn btn-success" })
    </div>
</div>
