﻿<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - WebApplication</title>
  <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
  <link rel="stylesheet" href="~/Content/site.css" />
  <link rel="stylesheet" href="~/Content/bootstrap.css" />
  <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
  
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      @if (Session["ID"] != null || Session["ScreenName"] != null)
      {
        @Html.ActionLink(Session["ScreenName"]+"", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

      }
      else
      {
        @Html.ActionLink("Christmas management", "", "Home", new { area = "" }, new { @class = "navbar-brand" })
      }
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav" style="float: right;">
        @if (Session["ID"] != null)
        {
          <li>@Html.ActionLink("Home", "Index", "Home")</li>
          <li>@Html.ActionLink("Toys", "Index", "Toys")</li>
          <li>@Html.ActionLink("Orders", "Index", "Orders")</li>
          <li>@Html.ActionLink("Logout", "Logout", "Users")</li>
        }
        else
        {
          <li>@Html.ActionLink("Login", "Login", "Users")</li>
        }
        
      </ul>
    </div>
  </div>
</div>
<div class="container body-content">
  @RenderBody()
  <hr />
  <footer>
    <p>&copy; 2017 -Fava Tony Examcsharp</p>
  </footer>
</div>

<environment names="Development">
  <script src="~/Scripts/jquery-1.9.1.js"></script>
  <script src="~/Scripts/bootstrap.js"></script>
  <script src="~/Scripts/site.js" ></script>
</environment>

@RenderSection("scripts", required: false)
</body>
</html>
