﻿@using Examcsharp.Classes
@model Order
@{
    ViewBag.Title = "Details";
}

<h2 style="text-align:center";>Orders Details</h2>

<div>
    <h4 style="text-align: center;">Christmas Orders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    <table class="table">
        <thead>
        <tr>
            <th>Toys</th>
            <th></th>
          
        </tr>
        </thead>
        <tbody>
        @foreach (var toy in Model.Toys)
        {
            <td>@toy.Name</td>
        }
            
    
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID, typeStatus=Model.Status}, new { @class = "btn btn-default glyphicon glyphicon-pencil" })
</p>

@Html.ActionLink(" Back", "Index", null, new { @class = "btn btn-primary" })