﻿@using Examcsharp.Classes
@model Order

@{
  ViewBag.Title = "Edit";
}

<h2 style="text-align:center;">Edit Orders</h2>

@using (Html.BeginForm("Save", "Orders"))
{
  @Html.AntiForgeryToken()

  <div class="form-horizontal">
    <h4 style="text-align: center;">Edit Status Order</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <dl class="dl-horizontal">
      <dt>
        @Html.DisplayNameFor(model => model.ID)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.ID)
      </dd>
      <dt>
        @Html.DisplayNameFor(model => model.Kid)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.Kid)
      </dd>
      
      <dt>
        @Html.DisplayNameFor(model => model.RequestDate)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.RequestDate)
      </dd>
      
    </dl>
    <table class="table">
      <thead>
      <tr>
        <th>Toys</th>
        <th></th>
          
      </tr>
      </thead>
      <tbody>
      @foreach (var toy in Model.Toys)
      {
        <td>@toy.Name</td>
      }
            
    
      </tbody>
    </table>
    <div class="form-group">
      @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        <select id="TypeStatus" name="TypeStatus" class="btn btn-default btn-lg dropdown-toggle">
          @foreach (var status in Enum.GetValues(typeof(TypeStatus)))
          {
            if (Model.Status.Equals(@status))
            {
              <option value="@status" selected="selected">@status</option>
            }
            else
            {
              <option value="@status">@status</option>
            }
          }
        </select>
        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
      </div>
    </div>

    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Save" class="btn btn-success" />
      </div>
    </div>
  </div>
}

<div>
  @Html.ActionLink(" Back", "Index", null, new { @class = "btn btn-primary" })
</div>