﻿@using Examcsharp.Classes
@using Examcsharp.Models

@{
    ViewBag.Title = "Orders";
}
@model Orders


<div class="row">
    <div class="col-xs-12">
        <h2 style="text-align:center;">Orders</h2>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Kid</th>
        <th>Request-Date</th>
        <th>Status</th>
        <th></th>
        @if (Session["IsAdmin"].Equals(true))
        {
            <th>Num.Toys</th>
            <th>Cost.Tot</th>
        
        }
        
    </tr>
    </thead>
    <tbody>
    @foreach (var orders in Model.EntityList)
    {
        Model.TotCost = 0;
        var colorAlert = "alert-danger";
        if (orders.Status == TypeStatus.Ready_To_Send)
        {
            colorAlert = "alert-warning";
        }
        else if (orders.Status == TypeStatus.Done)
        {
            colorAlert = "alert-success";
        }
        
            
        
        <tr class=@colorAlert>
            
            <td>
                @Html.Label(orders.Kid)
            </td>
            <td>
                @Html.Label(orders.RequestDate.ToString())
            </td>
            <td>
                @Html.Label(orders.Status.ToString())
                
            </td>
           
            <td>
                @if (Session["IsAdmin"].Equals(false))
                {
                    
                    <th>@Html.ActionLink("Details", "Details", new {id = orders.ID}, new {@class = "btn btn-info"})</th>
                    <th>@Html.ActionLink("Edit", "Edit", new {id = orders.ID, date = orders.Status}, new {@class = "btn btn-default glyphicon glyphicon-pencil"})</th>
                }
                else
                {
                    <th>@orders.ToysNumber()</th>    
                    foreach (var toy in orders.Toys)
                    {
                        if (Session["IsAdmin"].Equals(true))
                        {
                            foreach (var toyForCost in Model.ToyList)
                            {
                                if (toy.Name == toyForCost.Name)
                                {
                                    Model.TotCost += toyForCost.Cost;
                                     
                                }
                            }
                        }
                    }
                        
                    
                    <th>@string.Concat(Model.TotCost.ToString("F"),"€")</th>
        
                }
                
            </td>
        </tr>
    }
    
    </tbody>
</table>
