﻿@using Examcsharp.Models
@{
  ViewBag.Title = "Home Page";
}
@model Orders
@if (Session["ID"] == null || Session["IsAdmin"] == null)
{
  <div class="jumbotron">
    <h1>Christmas management</h1>
    <p class="lead">Welcome to the Christmas manager, please log in</p>
  </div>
}
else if(Session["IsAdmin"].Equals(true))
{
  <h1>@Session["ScreenName"]    Christmas management</h1>
  <p class="lead">Welcome to the Christmas manager</p>
  <div id="countdown" style="height: 30px;text-align:  center;font-size: -webkit-xxx-large ;margin-top:  20px;margin-bottom:  50px;">
    
  </div>

  <script>
    var countDownDate = new Date("dec 25, 2017 00:00:00").getTime();

    var x = setInterval(function() {

      var now = new Date().getTime();

      var distance = countDownDate - now;

      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      document.getElementById("countdown").innerHTML = days + "d " + hours + "h "
        + minutes + "m " + seconds + "s ";

      // If the count down is finished, write some text 
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("countdown").innerHTML = "Merry Christmas";
      }
    }, 1000);
  </script>
}
else
{
  <h1>@Session["ScreenName"]     Christmas management</h1>
  <p class="lead">Welcome to the Christmas manager</p>
  <div id="countdown" style="height: 30px;text-align:  center;font-size: -webkit-xxx-large;margin-top:  20px;margin-bottom:  50px;">
    
  </div>

  <script>
    var countDownDate = new Date("dec 25, 2017 00:00:00").getTime();

    var x = setInterval(function() {

      var now = new Date().getTime();

      var distance = countDownDate - now;

      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      document.getElementById("countdown").innerHTML = days + "d " + hours + "h "
        + minutes + "m " + seconds + "s ";

      // If the count down is finished, write some text 
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("countdown").innerHTML = "Merry Christmas";
      }
    }, 1000);
  </script>
}
